/* Style the body */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.scrollable-div {
  flex: 1;
  overflow: auto;
  /* border: 1px solid black; */
  margin-top: 100px;
}

/* Header/Logo Title */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  text-align: end;
  background: #0a2647;
  color: white;
  font-size: 14px;
}

.logo {
  margin-left: 5px;
  margin-top: 4px;
  float: left;
  position: absolute;
  width: 180px;
  height: auto;
}

/* Me image */
.me {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  position: absolute;
  top: 10%;
  transform: translate(0%, -20%);
  box-shadow: 0px -2px 0px white;
  transition: 0.5s;
}
.me img {
  width: 100%;
  height: auto;
}

.me:hover {
  width: 170px;
  height: 170px;
  transition: 0.5s;
}

.card {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 250px;
  height: 150px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.card .card-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 1px;
  color: #144272;
}

#idstudent {
  font-size: 13px;
  font-weight: 300;
  color: #567189;
  display: block;
}

/* Email no style */
#email {
  text-decoration: none;
  color: #567189;
}

#liLeft {
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  padding: 15px 12px;
  display: block;
}

li a:hover {
  background-color: #144272;
  border-radius: 3px 3px 3px 3px;
  transition: 0.5s;
}

/* Page Content */

section {
  margin-top: -85px;
  margin-right: 50px;
}
main {
  padding: 20px;
  margin-left: 250px;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #2a2f33;
  text-align: left;
}

/* The article position */
article {
  padding: 50px;
  margin-left: 20px;
  margin-bottom: 100px;
}

/* The sidebar menu */
aside {
  position: absolute;
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #2a2f33;
}

/* Sidebar links color and style */
#sideTitle {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #144272;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  padding-top: px;
}

/* Footer */
footer {
  background: #2c74b3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Footer text color and style */
.contentFooter {
  padding-top: 1px;
  color: #ecf9ff;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* The box info */
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.box {
  width: 450px;
  height: 350px;
  margin: 40px;
  float: left;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.box p {
  text-align: justify;
  margin-bottom: 50px;
  font-size: 14px;
}

.box img {
  width: 120;
  height: auto;
}

.nostyleurl {
  text-decoration: none;
  color: #115571;
}


#title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #144272;
}

#italic {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #567189;
}

